## IDE
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.eggs/
*.egg-info/

# Packaging
install/
build/
Pipfile

# Log directory
log/

# Pytest
.coverage

# Snap build
*.snap  

# Virtual environments
venv/
env/
.venv/
.env/
.env

# Demo Bags
demo_bags/